<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
 
	<display-name>Recuerdos Pixelados</display-name>
 
	<!-- Change to "Production" when you are ready to deploy -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
 
	<!-- Página de inicio -->
	<welcome-file-list>
  		<welcome-file>/index.xhtml</welcome-file>
 	</welcome-file-list>
 	
 	<!-- Definición del área de acceso restringido -->
 	<security-constraint>
  		<web-resource-collection>
   			<web-resource-name>Restricted Area - Solo administrador</web-resource-name>
   			<url-pattern>/protegido/administrador/*</url-pattern>
  		</web-resource-collection>
  	<auth-constraint>
   		<role-name>administrador</role-name>
  	</auth-constraint>
 	</security-constraint>
 	
 	<security-constraint>
  		<web-resource-collection>
   			<web-resource-name>Restricted Area - USER and ADMIN</web-resource-name>
   			<url-pattern>/protegido/usuario/*</url-pattern>
  		</web-resource-collection>
  	<auth-constraint>
   		<role-name>administrador</role-name>
   		<role-name>usuario</role-name>
  	</auth-constraint>
 	</security-constraint>
 	
 	<!-- Login page -->
 	<login-config>
  		<auth-method>FORM</auth-method>
  			<form-login-config>
   				<form-login-page>/index.xhtml</form-login-page>
   				<form-error-page>/fracaso.xhtml</form-error-page>
  			</form-login-config>
 	</login-config>
 	
 	<!-- Roles de usuario -->
 	<security-role>
  		<role-name>colaborador</role-name>
 	</security-role>
 	<security-role>
  		<role-name>administrador</role-name>
 	</security-role>
 	<security-role>
 		<role-name>usuario</role-name>
 	</security-role>
 	<security-role>
 		<role-name>baneado</role-name>
 	</security-role>
 
	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- Definir este parámetro es más cómodo y más visual que usar el <ui:remove> de Facelets. -->
    <context-param>
        <description>Do not render comments in facelets (xhtml) pages. Default is false.</description>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!-- Zona horaria por defecto igual a la zona horaria del PC -->
    <!-- Necesaria para validar bien las fechas con <f:convertDateTime> -->
    <context-param>
    	<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    	<param-value>true</param-value>
	</context-param>
 
</web-app>
